/* copyright 2024 | Faav | github.com/bribes */
div:has(> [id^="nn_"]),
.ad-container,
#nmcIf,
.mt-0:has(+ .ad-container) {
    display: none !important
}

.player-list {
    word-break: break-all
}

.nav-item {
    display: flex;
    align-items: center
}

#warningcd {
    cursor: pointer
}

#skin_container {
    cursor: move
}

@keyframes blink {
    0% {
        opacity: .2;
    }

    20% {
        opacity: 1;
    }

    100% {
        opacity: .2;
    }
}

.saving span {
    animation-name: blink;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}

.saving span:nth-child(2) {
    animation-delay: .2s;
}

.saving span:nth-child(3) {
    animation-delay: .4s;
}

.skin-button.skinart {
    margin: 0 !important;
}

.skin-2d.skin-button.skinart {
    border-radius: 0 !important;
    margin: 0 !important;
}

.customTheme[data-bs-theme=light] .card {
    --bs-card-bg: rgba(255, 255, 255, 0.9)!important;
}

.customTheme[data-bs-theme=dark] .card {
    --bs-card-bg: rgba(255, 255, 255, 0.05)!important;
}

.customTheme .checkered {
    background-color: var(--ne-checkered);
}

.customTheme[data-bs-theme=light] .checkered {
    background-blend-mode: multiply;
}

.customTheme[data-bs-theme=dark] .checkered {
    background-blend-mode: exclusion;
}

.customTheme .btn-primary {
    background-color: rgba(var(--ne-primary-rgb), 1);
    border: 1px solid rgba(var(--ne-primary-rgb), .5);
    transition: background-color 400ms linear, border 400ms linear;
}

.customTheme .btn-primary:hover {
    background-color: rgba(var(--ne-primary-rgb), .65);
    border: 1px solid rgba(var(--ne-primary-rgb), .3);
}

.customTheme a:not([class]) {
    color: rgba(var(--ne-primary-rgb), 1);
    transition: color 200ms linear;
}

.customTheme a:not([class]):hover {
    color: rgba(var(--ne-primary-rgb), .65);
}

.customTheme[data-bs-theme=light] .form-control, 
.customTheme[data-bs-theme=light] .form-control:focus, .customTheme
.customTheme[data-bs-theme=light] .form-select, 
.customTheme[data-bs-theme=light] .form-select:focus {
    background-color: rgba(255, 255, 255, 0.9)!important;
}

.customTheme[data-bs-theme=dark] .form-control, 
.customTheme[data-bs-theme=dark] .form-control:focus,
.customTheme[data-bs-theme=dark] .form-select,
.customTheme[data-bs-theme=dark] .form-select:focus {
    background-color: rgba(255, 255, 255, 0.05)!important;
}