/* copyright 2024 | Faav | github.com/bribes */
div:has(> [id^="nn_"]),
.ad-container,
#nmcIf,
.mt-0:has(+ .ad-container) {
    display: none !important
}

.player-list {
    word-break: break-all
}

.nav-item {
    display: flex;
    align-items: center
}

#warningcd {
    cursor: pointer
}

#skin_container {
    cursor: move
}

@keyframes blink {
    0% {
        opacity: .2;
    }

    20% {
        opacity: 1;
    }

    100% {
        opacity: .2;
    }
}

.saving span {
    animation-name: blink;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}

.saving span:nth-child(2) {
    animation-delay: .2s;
}

.saving span:nth-child(3) {
    animation-delay: .4s;
}

.skin-button.skinart {
    margin: 0 !important;
}

.skin-2d.skin-button.skinart {
    border-radius: 0 !important;
    margin: 0 !important;
}

.customTheme[data-bs-theme=light] .card {
    --bs-card-bg: rgba(255, 255, 255, 0.9) !important;
}

.customTheme[data-bs-theme=dark] .card {
    --bs-card-bg: rgba(255, 255, 255, 0.05) !important;
}

.customTheme .checkered {
    background-color: var(--ne-checkered);
}

.customTheme[data-bs-theme=light] .checkered {
    background-blend-mode: multiply;
}

.customTheme[data-bs-theme=dark] .checkered {
    background-blend-mode: exclusion;
}

.customTheme .btn-primary,
.customTheme .btn-secondary,
.customTheme .badge,
.customTheme ul:not(.navbar-nav)>li>a.active,
.customTheme ul:not(.navbar-nav)>li.active>a,
.customTheme ul:not(.navbar-nav)>li>.page-link.active,
.customTheme ul:not(.navbar-nav)>li.active>.page-link,
.customTheme button.active:not(.nav-link) {
    background-color: rgba(var(--ne-btn-rgb), 1) !important;
    border: 1px solid rgba(var(--ne-btn-rgb), .5) !important;
    transition: background-color 400ms linear, border 400ms linear;
}

.customTheme .btn-primary:hover,
.customTheme .btn-secondary:hover {
    background-color: rgba(var(--ne-btn-rgb), .75) !important;
    border: 1px solid rgba(var(--ne-btn-rgb), .3) !important;
}

.customTheme .btn-link,
.customTheme a.copy-button:not(.color-inherit),
.customTheme a:not([class]),
.customTheme a[class=""],
.customTheme a[class="fw-bold"],
.customTheme a[class="text-nowrap"],
.customTheme a[class="nn-cmp-show"],
.customTheme a[class="namemc-rank namemc-rank-0"],
.customTheme a[class="position-absolute top-0 end-0 px-3 py-1"],
.customTheme ul:not(.navbar-nav):not(.pagination)>li>a:not(.navbar-brand):not(.active),
.customTheme ul:not(.navbar-nav):not(.pagination)>li>button:not(.navbar-brand):not(.active) {
    color: rgba(var(--ne-link-rgb), 1) !important;
    transition: color 200ms linear;
}

.customTheme .btn-link:hover,
.customTheme a.copy-button:not(.color-inherit):hover,
.customTheme a:not([class]):hover,
.customTheme a[class=""]:hover,
.customTheme a[class="fw-bold"]:hover,
.customTheme a[class="text-nowrap"]:hover,
.customTheme a[class="nn-cmp-show"]:hover,
.customTheme a[class="namemc-rank namemc-rank-0"]:hover,
.customTheme a[class="position-absolute top-0 end-0 px-3 py-1"]:hover,
.customTheme ul:not(.navbar-nav):not(.pagination)>li>a:not(.navbar-brand):not(.active):hover,
.customTheme ul:not(.navbar-nav):not(.pagination)>li>button:not(.navbar-brand):not(.active):hover {
    color: rgba(var(--ne-link-rgb), .75) !important;
}

.customTheme[data-bs-theme=light] .form-control,
.customTheme[data-bs-theme=light] .form-control:focus,
.customTheme .customTheme[data-bs-theme=light] .form-select,
.customTheme[data-bs-theme=light] .form-select:focus {
    background-color: rgba(255, 255, 255, 0.9) !important;
}

.customTheme[data-bs-theme=dark] .form-control,
.customTheme[data-bs-theme=dark] .form-control:focus,
.customTheme[data-bs-theme=dark] .form-select,
.customTheme[data-bs-theme=dark] .form-select:focus {
    background-color: rgba(255, 255, 255, 0.05) !important;
}

select,
select * {
    background: var(--bs-body-bg) !important;
    color: var(--bs-body-color) !important;
}

select {
    --selectHoverCol: #999;
    --selectedCol: red;
    width: 100%;
    font-size: 1em;
    padding: 0.3em;
    background-color: #fff;
}

select:focus {
    border-radius: 0px;
    border-color: red;
    background: #fff;
    outline: none;
}

.select-wrap {
    position: relative;
}

.select-wrap:focus-within select {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10
}

option:hover {
    background-color: var(--selectHoverCol);
    color: #fff;
}

option:checked {
    box-shadow: 0 0 1em 100px var(--selectedCol) inset;
}

.customTheme * {
    accent-color: rgba(var(--ne-link-rgb), 1);
}

.color-inherit {
    color: inherit;
}
